body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(175,214,214,1) 30%, rgba(9,110,121,1) 60%, rgba(7,6,96,1) 80%, rgba(2,0,36,1) 90%);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header{
    $ref: &;
    position: sticky;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(175,214,214,1)0%, rgba(255,255,255,0.5) 80%);
    color: #000;
    padding: 0 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.03);
    height: 6rem;
    display: flex;
    align-items:center;
    gap: 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  overflow: hidden;

  &__search {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: 3.5rem; 
    width: 10rem;
    color: #000; 
    text-decoration: none;
    width: 9rem;
    text-transform: uppercase;
    margin: auto;
    padding: 0 9rem;
    
    input {
        flex: 1;
        padding: 0 2rem;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        background: rgba(101, 22, 239, 0.1);
        color: #000;
        transition: background 0.3s ease;
        z-index: 1;
        height: 3.5rem;
        
        &:focus {
            background: rgba(196, 21, 28, 0.4);
        }
    }

    img {
      width: 30px; 
      height: 30px;
    }

    button {
        background-color: transparent;
        color: inherit; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  }

  &__menu {
    position: relative;
    display: flex;
    list-style: none;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: 3.5rem; 
    width: 10rem;
    color: #000; 
    text-decoration: none;
    width: 9rem;
    text-transform: uppercase;

    img {
      width: 24px; 
      height: 24px; 
    }
    

    &:hover {
      color: #C4151C; 
      img {
        filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(95%) contrast(88%);
      }
    }

    .navbar:not(:hover) &:focus,
    &:hover {
      span {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  &__link.active {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: 3.5rem; 
    width: 10rem;
    color: #C4151C;  
    text-decoration: none;
    width: 10rem;
    text-transform: uppercase;

    img {
      width: 24px; 
      height: 24px; 
      filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(95%) contrast(88%);
    }

    &:hover {
      color: #cb3b3f; 
      img {
        filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(100%) contrast(88%);
      }
    }

    .navbar:not(:hover) &:focus,
    &:hover {
      span {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}


.header-logo {
  width: 180px;
  height: 90px;
  background-image: url("../images/logo/fullyOpenEye.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(2,0,36,1);
  background: linear-gradient(0deg, rgba(2,0,36,0.5) 0%, rgba(2,0,36,0.5) 70%, rgba(2,0,36,0) 100%);
  color: #edebeb;
  letter-spacing: 1px;
  text-align: left;
  padding: 10px 20px;
  font-size: 25px;
}

#login {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
  border-radius: 20px;
}

#login h1 {
  font-size: 3rem;
  color: #fff;
}

#login input {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: auto;
}

#login a {
  color: #fff;
  font-size: 0.8rem;
  margin: 10px 0;
}

#login [type="submit"] {
  background: #e3e1e1;
  color: #000;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #C4151C;
    background:#fff;
  }
}


.foot-link {
  color: #edebeb;
  text-decoration: none;
  font-size: 12px;
  font-weight: 350;
  letter-spacing: 1px;
  margin: 0 10px;

}

#feed {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 50px 0;
  text-align: center;
  border-radius: 20px;
}

#feed h1 {
  font-size: 3rem;
  color: #fff;
}

#feed .PFP {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

#feed p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #fff;
}

#feed a {
  color: #fff;
  font-size: 0.8rem;
  margin: 10px 0;
  text-decoration: none;
}

#postTop{
  display: flex;
  margin: 0 auto;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  background: rgba(101, 22, 239, 0.3);
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

#postTop img {
  width: 75px;
  height: 75px;
  margin-left: 10px;
}

#postTop a {
  font-size: 1.2rem;
  color: #Cfff;
  text-shadow: 0 0 5px rgba(204, 255, 255, 0.5);
  margin-left: 20px;
}

#postTop p {
  font-size: 1rem;
  color: #fff;
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
}

#postContent {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  background: linear-gradient(180deg,rgba(101, 22, 239, 0.3)0%, rgba(175,214,214,0.3)50%, rgba(255,255,255,0.3) 80%);
  padding: 20px;
}

#postBottom {
  display: flex;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  background: rgba(255,255,255,0.3);
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#postBottom button {
  background: transparent;
  width: 75px;
  height: 75px;
  margin-left: 10px;
  border: none;
}

#postBottom button img {
  width: 50px;
  height: 50px;
}

#postBottom button img:hover {
  filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(100%) contrast(88%);
}

#postBottom a {
  font-size: 1rem;
  color: #edebeb;
  text-shadow: 0 0 5px rgba(196, 21, 28, 0.8);
  text-align: center;
}

#postBottom a:hover {
  color: #fff;
}


#comments {
  display: flex;
  flex-direction: column;
  margin: 2%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(40, 26, 66, 0.3);
  padding: 100px 0;
  text-align: left;
  border-radius: 20px;

  #PFP {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
  }

  form {
    margin-top: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;

    textarea {
      margin-bottom: auto;
      margin-top: 0 auto;
      margin-left: 10%;
      margin-right: 10%;
      padding: 5px;
      border: none;
      border-radius: 4px;
      resize: vertical;
      background: rgba(255, 255, 255, 0.8);
      font-size: 1rem;

      &:focus {
        background: rgba(255, 255, 255, 1);
      }
    }

    input[type="submit"] {

      background: #e3e1e1;
      margin:auto;
      margin-bottom: 20px;
      color: #000;
      font-size: 1.2rem;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: #C4151C;
        background:#fff;
      }
    }
  }

  div {
    border-top: 1px solid rgba(0,0,0,0.3);
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    padding: auto;

    a {
      display: flex;
      align-items: left;
      color: #Cfff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
      font-size: 0.9rem;
      margin-bottom: 0;

      &:hover {
        text-shadow: 0 0 5px rgba(204, 255, 255, 0.5);
      }
    } 

    p {
      margin: 8px 0;
      color: #fff;
    }

    button {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 0.8rem;
      cursor: pointer;
      margin-left: 10px;

      img {
        width: 20px;
        height: 20px;
        filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(80%) contrast(88%);

        &:hover {
          filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(100%) contrast(88%);
        }
      }
    }

    .like_position {
      display: flex;
      align-items: center;
      justify-content: right;
    }

    .like_count {
      color: #edebeb;
      text-shadow: 0 0 5px rgba(196, 21, 28, 0.8);
      margin-left: 10px;
    }
  }
}




#create {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
  border-radius: 20px;
}

#create h1 {
  font-size: 3rem;
  color: #fff;
}

#createEntry {
  display: block;
  margin: 2%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(40, 26, 66, 0.3);
  padding: 30px 0;
  text-align: center;
  border-radius: 20px;

  p {
    font-size: 1.5rem;
    color: #fff;
    padding: auto;
  }

  a {
    font-size: 1rem;
    color: #edebeb;

    &:hover {
      color: #fff;
    }
  }



  form {
    margin-top: 0 auto;
    display: flex;
    flex-direction: column;

    input[type="submit"] {

      background: #e3e1e1;
      margin:auto;
      margin-bottom: 20px;
      color: #000;
      font-size: 1.2rem;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: #C4151C;
        background:#fff;
      }
    }
  }
}

#profile {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 30px 0;
  text-align: center;
  border-radius: 20px;
}

#profile h1 {
  font-size: 3rem;
  color: #Cfff;
  text-shadow: 0 0 5px rgba(204, 255, 255, 0.5);
  margin-bottom: 0;
}

#profile p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #fff;
}

#profile .PFP {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px 0;
  margin-bottom: 0;
}

#profile a {
  color: #fff;
  font-size: 0.8rem;
  margin: 10px 0;
  text-decoration: none;

}

#userPagePost {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  background: linear-gradient(180deg,rgba(175,214,214,0.3)0%, rgba(255,255,255,0.3) 80%);
  padding: 20px;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  p {
    font-size: 1.5rem;
    color: #fff;
  }
}




#infoContainer {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
  border-radius: 20px;
  
  a {
    color: #e3e1e1;
    font-size: 1rem;
    margin: 10px;

    &:hover {
      color: #fff;
    }
  }
}

#infoContainer h1 {
  font-size: 3rem;
  color: #fff;
}

#infoContainer p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #fff;
  padding: 0 20%;
}

#userFind {
  display: flex;
  margin: 1%;
  margin-left: 20%;
  margin-right: 20%;
  background: rgba(101, 22, 239, 0.3);
  padding: 15px;
  text-align: left;
  border-radius: 20px;

  a {
    display: flex;
    align-items: center;
    color: #Cfff;
    text-decoration: none;
    font-weight: bold; // makes the name stand out more
    transition: color 0.3s;
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 20px;

    &:hover {
      text-shadow: 0 0 5px rgba(204, 255, 255, 0.5);
    }
  
  }

}




@keyframes changeLogo {
  0% {
    background-image: url("../images/logo/fullyOpenEye.png");
  }
  25% {
    background-image: url("../images/logo/halfClosedEye.png");
  }
  50% {
    background-image: url("../images/logo/fullyClosedEye.png");
  }
  75% {
    background-image: url("../images/logo/halfClosedEye.png");
  }
  100% {
    background-image: url("../images/logo/fullyOpenEye.png");
  }
}

.loading-logo {
  width: 180px;
  height: 90px;
  background-image: url("../images/logo/fullyOpenEye.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  animation: changeLogo 3.5s infinite;
  margin-top: 40px;
}

#icon {
  img {
    width: 30px; 
    height: 30px;
  }

  button {
      background-color: transparent;
      color: inherit;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
}


#follow .PFP {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

#followingOrFollowed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  gap: 50px;
}

#followSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;

  input[type="submit"] {
    background: #e3e1e1;
    width: 6%;
    padding: 8px;
    margin: 10px 0;
    font-size: 0.9rem;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: #C4151C;
      background:#fff;
    }
  }
}

