body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(175,214,214,1) 30%, rgba(9,110,121,1) 60%, rgba(7,6,96,1) 80%, rgba(2,0,36,1) 90%);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header{
    $ref: &;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(175,214,214,1)0%, rgba(255,255,255,0.5) 80%);
    color: #000;
    padding: 0 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.03);
    height: 6rem;
    display: flex;
    align-items:center;
    gap: 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  overflow: hidden;

  &__search {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: 3.5rem; 
    width: 10rem;
    color: #000; 
    text-decoration: none;
    width: 10rem;
    text-transform: uppercase;
    margin: auto;
    padding: 0 9rem;
    
    input {
        flex: 1;
        padding: 0 2rem;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        background: rgba(101, 22, 239, 0.1);
        color: #000;
        transition: background 0.3s ease;
        z-index: 1;
        height: 3.5rem;
        
        &:focus {
            background: rgba(196, 21, 28, 0.4);
        }
    }

    img {
      width: 30px; 
      height: 30px;
    }

    button {
        background-color: transparent; /* Set background to transparent */
        color: inherit; /* Inherit text color */
        border: none; /* Remove border */
        border-radius: 5px;
        cursor: pointer;
    }
  }

  &__menu {
    position: relative;
    display: flex;
    list-style: none;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: 3.5rem; 
    width: 10rem;
    color: #000; 
    text-decoration: none;
    width: 10rem;
    text-transform: uppercase;

    img {
      width: 24px; 
      height: 24px; 
    }
    

    &:hover {
      color: #C4151C; 
      img {
        filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(95%) contrast(88%);
      }
    }

    .navbar:not(:hover) &:focus,
    &:hover {
      span {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  &__link.active {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    height: 3.5rem; 
    width: 10rem;
    color: #C4151C;  
    text-decoration: none;
    width: 10rem;
    text-transform: uppercase;

    img {
      width: 24px; 
      height: 24px; 
      filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(95%) contrast(88%);
    }

    &:hover {
      color: #cb3b3f; 
      img {
        filter: invert(47%) sepia(98%) saturate(7381%) hue-rotate(320deg) brightness(100%) contrast(88%);
      }
    }

    .navbar:not(:hover) &:focus,
    &:hover {
      span {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}


.header-logo {
  width: 180px;
  height: 90px;
  background-image: url("../images/logo/fullyOpenEye.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(2,0,36,1);
  background: linear-gradient(0deg, rgba(2,0,36,0.5) 0%, rgba(2,0,36,0.5) 70%, rgba(2,0,36,0) 100%);
  color: #edebeb;
  letter-spacing: 1px;
  text-align: left;
  padding: 10px 20px;
  font-size: 25px;
}

#login {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
}

#login h1 {
  font-size: 3rem;
  color: #fff;
}

#login input {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: auto;
}

#login a {
  color: #fff;
  font-size: 0.8rem;
  margin: 10px 0;
}

#login [type="submit"] {
  background: #e3e1e1;
  color: #000;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #C4151C;
    background:#fff;
  }
}


.foot-link {
  color: #edebeb;
  text-decoration: none;
  font-size: 12px;
  font-weight: 350;
  letter-spacing: 1px;
  margin: 0 10px;

}

#feed {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
}

#feed h1 {
  font-size: 3rem;
  color: #fff;
}

#feed p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #fff;
}

#feed a {
  color:#C4151C;
  font-size: 1.2rem;
  text-decoration: none;
}


#create {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
}

#create h1 {
  font-size: 3rem;
  color: #fff;
}

#create input {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

#profile {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
}

#profile h1 {
  font-size: 3rem;
  color: #fff;
}

#profile p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #fff;
}

#profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0;
}




#infoContainer {
  display: block;
  margin: 5%;
  margin-left: 8%;
  margin-right: 8%;
  background: rgba(101, 22, 239, 0.3);
  padding: 100px 0;
  text-align: center;
}

#infoContainer h1 {
  font-size: 3rem;
  color: #fff;
}

#infoContainer p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #fff;
  padding: 0 20%;
}




@keyframes changeLogo {
  0% {
    background-image: url("../images/logo/fullyOpenEye.png");
  }
  25% {
    background-image: url("../images/logo/halfClosedEye.png");
  }
  50% {
    background-image: url("../images/logo/fullyClosedEye.png");
  }
  75% {
    background-image: url("../images/logo/halfClosedEye.png");
  }
  100% {
    background-image: url("../images/logo/fullyOpenEye.png");
  }
}

.loading-logo {
  width: 180px;
  height: 90px;
  background-image: url("../images/logo/fullyOpenEye.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  animation: changeLogo 3.5s infinite;
}