{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	About us
{% endblock %}

{% block body_block %}
	<h1>About us</h1>
    <p>
        Welcome to Blink! <br />
        This is a social media platform without all the distractions and tempations of normal social media, 
        so that you can express yourself and connect with others in a more meaningful way. <br />
        We pride ourselves on being a social media free from distractions, and want to introduce as many 
        people as possible to this new form of social media. <br />
        Users on our platform can post only once a day, but are free to like and comment on posts as they please. <br />
        This feature hopes to enhance user experience by allowing users to focus on the content of the posts,
        rather than the quantity of them. <br />
        Quality over quantity! <br />
        So join us at Blink, the future of social media!
    </p>
{% endblock %}