{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	About us
{% endblock %}

{% block body_block %}
<section id="feed">
    <div id="content">
        <h1>About us</h1>
        <p>
            Welcome to Blink!<br />
            <br />
            This is a social media platform without all the distractions and tempations of normal social media, 
            so that you can express yourself and connect with others in a more meaningful way.
        </p>
        <p>
            We pride ourselves on being a social media free from distractions, and want to introduce as many 
            people as possible to this new form of social media.
        </p>
        <p>
            Users on our platform can post only once a day, but are free to like and comment on posts as they please.
        </p>
        <p>
            This feature hopes to enhance user experience by allowing users to focus on the content of the posts,
            rather than the quantity of them.
        </p>
        <p>
            Quality over quantity!
        </p>
        <p>
            So join us at Blink, the future of social media!
        </p>
    </div>
</section>
{% endblock %}