<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <title>
        Blink -
        {% block title_block %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/light/lightStyles.css' %}"> -->

</head>
<body>      
<div class="container">
	<div class="header">
		{% block header_block %}
		<a href="
		{% if user.is_authenticated %}
			{% url 'blink:index' %}
		{% else %}
			{% url 'blink:login' %}
		{% endif %}
		"><div class="header-logo">
		</div></a>
		<nav class="navbar">
			<ul class="navbar__menu">
				{% if user.is_authenticated %}
					{% url 'blink:index' as index_url %}
					{% url 'blink:create' as create_url %}
					{% url 'blink:search' as search_url %}
					{% url 'blink:user' user.username as user_url %}
					{% url 'blink:logout' as logout_url %}

					<li class="navbar__item">
						<a href="{{ index_url }}" class="{% if request.get_full_path == index_url %}navbar__link active{% else %}navbar__link{% endif %}">
							<img src="{% static 'images/icons/home.svg' %}" alt="Home Icon">
							<span>Home</span> </a>
					</li>

					<li class="navbar__item">
						<a href="{{ create_url }}" class="{% if request.get_full_path == create_url %}navbar__link active{% else %}navbar__link{% endif %}">
							<img src="{% static 'images/icons/create.svg' %}" alt="Create Icon">
							<span>Create Post</span></a>        
					</li>

					<li class="navbar__item">
						<form id="search_form" method="get" class="navbar__search" onsubmit="return false;">
							{% csrf_token %}
							<input type="text" id="search_input" placeholder="Search..." name="search">
							<button type="submit">
								<img src="{% static 'images/icons/search.svg' %}" width=30px alt="Search">
							</button>
						</form>
					</li>

					<li class="navbar__item">
						<a href="{{ user_url }}" class="{% if request.get_full_path == user_url %}navbar__link active{% else %}navbar__link{% endif %}">
							<img src="{% static 'images/icons/profile.svg' %}" alt="Profile Icon">
							<span>Profile</span></a>
					</li>

                    {% url 'following' as following_url %}
                    <li class="navbar__item">
                        <a href="{{ following_url }}" class="{% if request.get_full_path == following_url %}navbar__link active{% else %}navbar__link{% endif %}">
                            <span>Following</span>
                        </a>
                    </li>

					<li class="navbar__item">
						<a href="{{ logout_url }}" class="{% if request.get_full_path == logout_url %}navbar__link active{% else %}navbar__link{% endif %}">
							<img src="{% static 'images/icons/logout.svg' %}" alt="Logout Icon">
							<span>Logout</span></a>        
					</li>
				{% endif %}
			</ul>

		</nav>
		{% endblock %}
	</div>

    <div class="main-content">
        <div class="posts-container">
            {% block body_block %}

            {% endblock %}
        </div>
    </div>
    <div class="footer">
        {% block footer_block %}
            <nav>
                <a href="{% url 'blink:help' %}" class="foot-link">Help</a>
                <a href="{% url 'blink:about' %}" class="foot-link">About us</a>
                <a href="{% url 'blink:settings' %}" class="foot-link">Settings</a>
            </nav>
        {% endblock %}
    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>

</body>
</html>
