<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <title>
        Blink -
        {% block title_block %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/light/lightStyles.css' %}"> -->

</head>
<body>      
<div class="container">
	<div class="header">
		{% block header_block %}
		<a href="{% url 'blink:index' %}"><div class="header-logo">
		</div></a>
		<nav class="navbar">
			<ul class="navbar__menu">
				{% if user.is_authenticated %}
					{% url 'blink:index' as index_url %}
					{% url 'blink:create' as create_url %}

					{% if request.get_full_path == index_url %}
						<li class="navbar__item">
							<a href="#" class="navbar__link active">
								<img src="{% static 'images/icons/home.svg' %}" alt="Home Icon">
								<span>Home</span> </a>
						</li>

						<li class="navbar__item">
							<a href="{{ create_url }}" class="navbar__link">
								<img src="{% static 'images/icons/create.svg' %}" alt="Create Icon">
								<span>Create Post</span></a>        
						</li>


					{% elif request.get_full_path == create_url %}
						<li class="navbar__item">
							<a href="{{ index_url }}" class="navbar__link">
								<img src="{% static 'images/icons/home.svg' %}" alt="Home Icon">
								<span>Home</span> </a>
						</li>

						<li class="navbar__item">
							<a href="#" class="navbar__link active">
								<img src="{% static 'images/icons/create.svg' %}" alt="Create Icon">
								<span>Create Post</span></a>        
						</li>

					{% else %}

					<li class="navbar__item">
						<a href="{{ index_url }}" class="navbar__link">
							<img src="{% static 'images/icons/home.svg' %}" alt="Home Icon">
							<span>Home</span> </a>
					</li>

					<li class="navbar__item">
						<a href="{{ create_url }}" class="navbar__link">
							<img src="{% static 'images/icons/create.svg' %}" alt="Create Icon">
							<span>Create Post</span></a>        
					</li>
					{% endif %}

					<li class="navbar__item">
						<a href="{% url 'blink:logout' %}" class="navbar__link">
							<span>Logout</span></a>        
					</li>

					<li class="navbar__item">
						<form id="search_form" method="get" action="{% url 'blink:search' %}">
							{% csrf_token %}
							<input type="text" placeholder="Search.." name="search">
							<button type="submit">Submit</button>
						</form>
					</li>

					<li class="navbar__item">
						<a href="{% url 'blink:user' user.username %}" class="navbar__link">
							<span>Profile</span></a>
					</li>
				{% endif %}
			</ul>

		</nav>
		{% endblock %}
	</div>

    <div class="main-content">
        <div class="posts-container">
            {% block body_block %}

            {% endblock %}
        </div>
    </div>
    <div class="footer">
        {% block footer_block %}
            <nav>
                <a href="{% url 'blink:help' %}" class="foot-link">Help</a>
                <a href="{% url 'blink:about' %}" class="foot-link">About us</a>
                <a href="{% url 'blink:settings' %}" class="foot-link">Settings</a>
            </nav>
        {% endblock %}
    </div>
</div>
</body>
</html>
