{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Create Post
{% endblock %}

{% block body_block %}
<section id="create">
	<div id="content">
		<h1>Create Post</h1>
		<div>
			<form id="create_post_form" method="post" action="{% url 'blink:create' %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ post_form.as_p }}
				<input type="submit" value="Create Post" />
			</form>
			<a href="{% url 'blink:index' %}">Cancel</a>
		</div>
	</div>
</section>
{% endblock %}