{% extends 'blink/base.html' %}
{% load staticfiles %}

{% block title_block %}
Followers
{% endblock %}

{% block body_block %}
    <section id="infoContainer">
        <h1>Followed</h1>
        {% for friendship in followers %}
            <section id="userFind">
                <a href="{% url 'blink:user' username=friendship.0.user.username %}">
                    {% if friendship.1.profilePicture %}
                        <img src="{{ friendship.1.profilePicture.url }}" class="PFP" alt="Profile Picture" width="75" height="75" />
                    {% else %}
                        <img src="{% static 'images/defaultPFP.png' %}" alt="Profile Picture" width="75" height="75" />
                    {% endif %}
                </a>
                <br /><a href="{% url 'blink:user' username=friendship.0.user.username %}">{{ friendship.0.user.username }}</a>
            </section>

        {% empty %}
            <p>This user does not follow anybody.</p>
        {% endfor %}
    </section>
{% endblock %}