{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Help
{% endblock %}

{% block body_block %}
    <section id="infoContainer">

        <h1>Help</h1>
            <h3>Getting started</h3>
            <p>
                To get started, simply login or create an account by providing a username, email address, and a password.<br />
                Once you have created an account, you can get started by creating a post, or viewing other posts and commenting or liking them.<br />
                You can view your own profile and posts by clicking the profile button, as well as change your password, username, and email address.<br />
                You can search for posts or other users using the search bar too.<br />
            </p>
        <h3>Creating a post</h3>
        <p>
            To create a post, click the Create Post button at the top of the page, and start typing.<br />
            You can also upload an image to go with your post by clicking the upload button.<br />
            Once you are finished creating your post, click the Create Post button and your post will be added to the feed.<br />
            Make sure to refresh the home page to see your post up there!<br />
        </p>
        <h3>Interacting with other posts</h3>
        <p>
            You can like posts by clicking the heart icon, and comment on a post by opening the post, and typing your comment in the comment box.<br />
            You can view all the comments on a specific post by clicking on the post itself.<br />
            You can also view who has liked a post too.<br />
            By clicking on any profile, you can view that user's profile and posts.<br />
        </p>
    </section>
{% endblock %}