{% extends 'blink/base.html' %}
{% load static %}

{% block title_block %}
    Feed
{% endblock %}

{% block body_block %}
<section id="feed">
	<h1>Feed</h1>
	<div class="loading-logo">
	</div>
	<div>
		{% if posts %}
			{% for post in posts %}
				<div>
					<h3>{{ post.title }}</h3>
					<p>{{ post.text }}</p>
					<p>{{ post.date }}</p>
					<p>{{ post.user }}</p>
				</div>
			{% endfor %}
		{% else %}
			<p>There are no posts in the feed.</p>
		{% endif %}
	</div>
</section>
{% endblock %}
