{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	User Profile
{% endblock %}

{% block body_block %}
    <h1>Likes</h1>
	{% if likeData %}
        {% for like in likeData %}
            <div>
                <a href="{% url 'blink:user' like.user.username %}">{{ like.user }}</a><br />
            </div>
        {% endfor %}
    {% else %}
        <p>No likes found.</p>
    {% endif %}
    <a href="{% url 'blink:view_post' postID %}">Back to Post</a>
{% endblock %}