{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	User Profile
{% endblock %}

{% block body_block %}
    <section id="infoContainer">
        <h1>Likes</h1>
        {% if likeData %}
            {% for like in likeData %}
                <section id="userFind">
                    {% if like.1.profilePicture %}
                        <img src="{{ like.1.profilePicture.url }}" alt="Profile Picture" width="75" height="75" />
                    {% else %}
                        <img src="{% static 'images/defaultPFP.png' %}" alt="Profile Picture" width="75" height="75" />
                    {% endif %}
                    <br /><a href="{% url 'blink:user' like.1.user.username %}">{{ like.1.user.username }}</a>
                </section>
            {% endfor %}
        {% else %}
            <p>No likes found.</p>
        {% endif %}
        <a href="{% url 'blink:view_post' postID %}">Back to Post</a>
    </section>
{% endblock %}