{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	<h1>Login</h1>
    <form id="login_form" method="post" action="{% url 'blink:login' %}">
        {% csrf_token %}
        <input type="text" name="username" value="Email or Username" /><br />
        <input type="text" name="Password" value="Password..." /><br />
        <a href="{% url 'blink:reset_password' %}">Forgotten Password?</a>
        <input type="submit" value="Log In">
    </form>
    <a href="{% url 'blink:register' %}">New Member?</a>
{% endblock %}