{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	User Profile
{% endblock %}

{% block body_block %}
	{% if postData %}
    
        {% comment %} POST CONTENTS {% endcomment %}
        <p>{{ postData.content }}</p>
        <p>{{ postData.releaseDate }}</p>
        <a href="{% url 'blink:user' postData.user.username %}">{{ postData.user }}</a><br />
        {% if postData.image %}
            <img src="{{ postData.image.url }}" alt="Post Image"><br />
        {% endif %}

        {% comment %} LIKE LOGIC {% endcomment %}
        <button class="like_button" id="like_button_{{ postData.postID }}_post" data-postid="{{ postData.postID }}" type="button">
            {% if userLiked %}
                <img src="{% static 'images/icons/likeFilled.svg' %}" alt="Like" width="20" height="20" />
            {% else %}
                <img src="{% static 'images/icons/likeEmpty.svg' %}" alt="Like" width="20" height="20" />
            {% endif %}
        </button>
        <a href="{% url 'blink:view_likes_post' postData.postID %}">
            <strong class="like_count" id="like_count_{{ postData.postID }}_post">{{ likeCount }} 
                {% if likeCount == 1 %}
                    like
                {% else %}
                    likes
                {% endif %}                
            </strong>
        </a>

        {% comment %} COMMENT LOGIC {% endcomment %}
        <form action="{% url 'blink:comment' postData.postID %}" method="post">
            {% csrf_token %}
            <textarea name="comment" rows="4" cols="50"></textarea><br />
            <input type="submit" value="Comment">
        </form>

        {% if commentData %}
            {% for comment in commentData %}
                <div>
                    <p>{{ comment.0.content }}</p>
                    <a href="{% url 'blink:user' comment.0.user.username %}">{{ comment.0.user }}</a><br />

                    {% comment %} COMMENT LIKE LOGIC {% endcomment %}
                    <button class="like_button" id="like_button_{{ comment.0.commentID }}_comment" data-commentid="{{ comment.0.commentID }}" type="button">
                        {% if comment.2 %}
                            <img src="{% static 'images/icons/likeFilled.svg' %}" alt="Like" width="20" height="20" />
                        {% else %}
                            <img src="{% static 'images/icons/likeEmpty.svg' %}" alt="Like" width="20" height="20" />
                        {% endif %}
                    </button>
                    <a href="{% url 'blink:view_likes_comment' comment.0.commentID %}">
                        <strong class="like_count" id="like_count_{{ comment.0.commentID }}_comment">{{ comment.1 }}
                            {% if comment.1 == 1 %}
                                like
                            {% else %}
                                likes
                            {% endif %}
                        </strong>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no comments on this post yet.</p>
        {% endif %}

    {% endif %}
{% endblock %}