{% extends 'blink/base.html' %}
{% load staticfiles %}


{% block title_block %}
	User Profile
{% endblock %}

{% block body_block %}
	{% if userProfileData %}
    <section id="profile">

        {% comment %} USER CONTENTS {% endcomment %}
        {% if userProfileData.profilePicture %}
            <img src="{{ userProfileData.profilePicture.url }}" id="pfpImage" alt="Profile Picture" width="75" height="75" />
        {% else %}
            <img src="{% static 'images/defaultPFP.png' %}" id="pfpImage" alt="Profile Picture" width="75" height="75" />
        {% endif %}  
        <h1>{{ userData.username }}</h1> 

        {% comment %} USER'S POSTS {% endcomment %}
        <div>
            <h2>Daily Post</h2>
            {% if postData %}
                {% for post in postData %}
                    {% if post.user == userData %}
                        <a href="{% url 'blink:view_post' post.postID %}">
                            <div>
                                <section id="userPagePost">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="Post Image" width="300px">
                                    {% endif %}
                                    <p>{{ post.content }}</p>
                                </section>
                                <p>{{ post.releaseDate }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>There are no posts.</p>
            {% endif %}
        </div>
    {% endif %}
    </section>
{% endblock %}